pyaudio~=0.2.13
openai>=1.0.0
webrtcvad~=2.0.10
noisereduce~=3.0.3
numpy
python-dotenv~=1.0.0
SpeechRecognition
vosk~=0.3.44
python-kasa
asyncio-extras
sounddevice~=0.5.1
kokoro~=0.9.4
requests~=2.32.3
tqdm~=4.67.1